html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.3;
	background-color: hsl(185, 75%, 39%);
}

.backgroundImage {
	position: relative;
	background-repeat: no-repeat;
	min-height: 368px;
	/* border: 1px solid red; */
}

.backgroundImage_top::after {
	content: "";
	position: absolute;
	width: 144%;
	height: 155%;
	left: -78%;
	top: -69%;
	background-size: 94%;
	background-repeat: no-repeat;
	background-image: url('./images/bg-pattern-top.svg');
}

.backgroundImage_bottom::after {
	content: "";
	position: absolute;
	width: 60%;
	height: 82%;
	background-size: 235%;
	background-repeat: no-repeat;
	background-image: url('./images/bg-pattern-bottom.svg');
	left: 40%;
	top: 17%;
}