html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {	
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 1.3;
	background-color: hsl(185, 75%, 39%);
	font-size: 1.125rem;
	font-family: 'Kumbh Sans', sans-serif;;
}

.topImage {
	position: relative;
	background-image: url('./images/bg-pattern-top.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
	height: 115vh;
	top: -165vh;
	left: -20vh;
}

.bottomImage {
	position: relative;
	background-image: url('./images/bg-pattern-top.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 125vh;
	top: -165vh;
	right: -24vh;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	z-index: 1;
	background: rgba(255, 255, 255, 1);
	display: flex;
	height: 370px;
	width: 350px;
	border-radius: 20px;
	/* box-shadow: 1px 1px 10px black; */
}

.backgroundCard {
	position: relative;
	height: 120px;
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-image: url('./images/bg-pattern-card.svg');
	background-repeat: no-repeat;
}

.name_age {
	font-size: 1.125rem;
	display: inline-block;
	width: 360px;
	position: absolute;
	text-align: center;
	margin-top: 200px;
}

.name {
	color: hsl(229, 23%, 23%);
	font-weight: 700;
}

.age {
	color: hsl(227, 10%, 46%);
	font-weight: 400;
}

.stats {
	position: absolute;
	margin-top: 300px;
	width: 350px;
}

.values {
	margin-left: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-around;
	color: hsl(229, 23%, 23%);
	font-weight: 700;
}

.names {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	margin-top: 10px;
	margin-left: 60px;
	color: hsl(227, 10%, 46%);
	font-weight: 400;
	font-size: 0.75rem;
}

img {
	position: absolute;
	border-radius: 50px;
	border: 5px solid white;
	height: 100px;
	margin-top: 80px;
	margin-left: 130px;
}

p {
	font-weight: 400;
	color: hsl(227, 10%, 46%);
	font-size: 0.8rem;
}

hr {
	color: lightgrey;
	margin-top: 280px;
	position: absolute;
	height: 1px;
	width: 350px;
}