html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.3;
	background-color: hsl(185, 75%, 39%);
}

.first_bg {
	left: -15.625rem;
	top: -15.625rem;
	min-height: 34.375rem;
	min-width: 34.375rem;
	position: relative;
	background-image: url('./images/bg-pattern-top.svg');
	background-size: cover;
}